---
---
<footer class="landing-footer">
    <p>
        <a href="https://github.com/jonathanperis/super-mango-editor" target="_blank" rel="noreferrer noopener" aria-label="Super Mango GitHub Repository">GitHub Repository</a>
        &nbsp;&middot;&nbsp;
        <a href="https://github.com/jonathanperis/super-mango-editor/wiki" target="_blank" rel="noreferrer noopener" aria-label="Super Mango Wiki">Wiki</a>
        &nbsp;&middot;&nbsp;
        <a href="https://github.com/jonathanperis/super-mango-editor/releases/latest" target="_blank" rel="noreferrer noopener" aria-label="Super Mango Releases">Releases</a>
    </p>
    <p>
        Created by
        <a href="https://github.com/jonathanperis" target="_blank" rel="noreferrer noopener">jonathanperis</a>
        &amp;
        <a href="https://github.com/fersantos" target="_blank" rel="noreferrer noopener">fersantos</a>.
    </p>
    <p>
        Art from
        <a href="https://juho.itch.io" target="_blank" rel="noreferrer noopener">Super Mango 2D Pixel Art Platformer Asset Pack</a>
        by Juho.
    </p>
</footer>
