---
const base = import.meta.env.BASE_URL.replace(/\/$/, '');
---
<nav class="site-nav" id="site-nav">
    <a href={base} class="nav-logo">Super Mango</a>
    <ul class="nav-links">
        <li><a href="#play">Play</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#docs">Docs</a></li>
        <li><a href={`${base}/docs`}>Full Docs</a></li>
        <li><a href="#downloads">Downloads</a></li>
    </ul>
</nav>
